.repos-list {
  width: 450px;
  margin: 25px auto 0;
}

.repo {
  min-height: 80px;
  list-style: none;
  background-color: #ffffff;
  margin: 10px 0;
  padding: 15px 10px;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.1);
}

.repo-image {
  width: 60px;
  margin-right: 20px;
}

.repo-image,
.repo-content {
  display: inline-block;
  vertical-align: middle;
}

.repo-content {
  width: calc(100% - 80px);
}

header a {
  font-size: 1.5em;
  color: #369;
  text-transform: capitalize;
}

header span {
  color: #888888;
  font-size: 14px;
  margin-left: 20px;
}

.description {
  margin: 10px 0 15px;
  color: #888888;
}

header, .dates {
  display: flex;
  justify-content: space-between;
}

.dates span {
  font-size: 12px;
  opacity: .6;
}

.dates span:nth-child(2) { text-align: right; }

